body {
    margin: 0;
    padding: 0;
}

main {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    >#main {
        max-width: 1080px;
        width: 100%;



        >.carousel>.carousel-inner>.carousel-item {
            >img {

                border-radius: 20px;

            }

            >img:hover {

                cursor: pointer;
            }
        }




    }
}